.ssh/
Test/
Practice/Practice/Practice/bin/
Practice/Practice/Practice/obj/
Practice/Practice/.vs

Practice/FileMergeAndCut/FileMergeAndCut/bin/
Practice/FileMergeAndCut/FileMergeAndCut/obj/

Practice/DrawLines/bin/
Practice/DrawLines/obj/
