.ssh/
Test/
Practice/Practice/Practice/bin/
Practice/Practice/Practice/obj/
Practice/Practice/.vs

Practice/FileMergeAndCut/FileMergeAndCut/bin/
Practice/FileMergeAndCut/FileMergeAndCut/obj/

Practice/DrawLines/bin/
Practice/DrawLines/obj/


Practice/BitmapTest/bin/
Practice/BitmapTest/obj/

Practice/FrameWork/bin/
Practice/FrameWork/obj/
